@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Rajdhani&family=Titillium+Web:ital,wght@0,400;0,600;0,900;1,400&display=swap");

:root {
  --color-primary: #31365a;
  --color-secondary: #5e6283;
  --color-point: #80edb9;
  --color-bg: white;
  --font-primary: "Titillium Web", sans-serif; /*400, 400i, 600, 900*/
  --font-secondary: "Rajdhani", sans-serif; /*400*/
  --fz-xs: 16px;
  --fz-s: 18px;
  --fz-m: 24px;
  --fz-l: 36px;
  --fz-xl: 56px;
  --fz-h1: clamp(20px, 5vw, 56px);
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-weight: 400;
  cursor: none;
}
::selection {
  color: var(--color-point);
  background-color: var(--color-primary);
}
#cursor {
  background-color: var(--color-primary);
  position: absolute;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  pointer-events: none;
  z-index: 100;
  /* transition: transform 0.15s ease-in-out; */
  /* mix-blend-mode: hard-light; */
}
#cursor2 {
  background-color: var(--color-point);
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  pointer-events: none;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  z-index: 100;
}

/*---------------- Header --------------*/
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: sticky;
  top: 0;
}
nav {
  /* width: 100%; */
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.733);
  z-index: -2;
}
.navContainer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}
.navItem {
  padding: 0 20px;
  text-align: center;
}
.navItem-icon {
  display: none;
  cursor: pointer;
}

.navItem a::after {
  content: "";
  position: relative;
  width: 2px;
  left: -10px;
  bottom: 14px;
  height: 4px;
  display: block;
  transition: all 0.3s ease;
  z-index: -1;
}
.navItem a:hover::after {
  width: 90%;
  height: 4px;
  bottom: 14px;
  left: -10px;
  background-color: var(--color-point);
  z-index: -1;
}

.navItem a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: var(--fz-s);
  font-weight: 400;
}
.navItem-settings {
  display: flex;
}
.navItem-settings span {
  padding: 0 10px;
  transition: color 0.3s ease-in-out;
}
.navItem-settings span:hover {
  color: var(--color-point);
  cursor: pointer;
}

/*---------------- Main Section Landing --------------*/
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}
.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing h1 {
  font-family: var(--font-primary);
  font-weight: 600;
  margin: 0 60px;
}
.header1 {
  font-size: clamp(16px, 3vw, 40px);
  color: var(--color-secondary);
}
.header2 {
  font-size: var(--fz-h1);
  padding-left: 30px;
  color: var(--color-primary);
}

.arrow {
  width: 8px;
  height: 48px;
  background-color: var(--color-point);
  position: relative;
  left: 50%;
  bottom: 0;

  animation-name: arrow;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes arrow {
  0% {
    top: 18%;
  }
  25% {
    top: 24%;
  }
  100% {
    top: 18%;
  }
}
.header2.color {
  color: var(--color-point);
  padding: 0;
}
/* .header2.bgr {
  background: rgb(180, 233, 207);
  background: linear-gradient(
    156deg,
    rgba(180, 233, 207, 1) 33%,
    rgba(134, 138, 170, 1) 97%
  );
  height: 42px;
  width: 580px;
  position: relative;
  z-index: -1;
  left: 150px;
  top: -42px;
} */

/*----------------Main Section About--------------*/
.about {
  margin: 100px;
}
.about-container {
  display: flex;
  flex-direction: column;
}
.about-heading {
  font-weight: 600;
  font-size: var(--fz-h1);
  line-height: var(--fz-h1);
  margin: 20px 0;
}
.about-text {
  /* padding-right: 60px; */
  font-size: clamp(16px, 3vw, 24px);
  display: flex;
}
.techStack {
  font-size: var(--fz-h1);
  font-weight: 600;
}
.techStack-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  overflow: hidden;
  width: 90%;
}
.skills {
  display: flex;
}

.skill {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill i {
  font-size: 80px;
}

.carousel-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  color: var(--color-point);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border: 1px solid var(--color-point);
  cursor: pointer;
  /* padding: 20px; */
}
.carousel-btn.prev {
  left: 0;
}
.carousel-btn.next {
  right: 0;
}
.profile {
  width: clamp(300px, 34vw, 500px);
  /* max-width: 500px; */
  max-height: 800px;
  object-fit: cover;
  padding: 20px;
}

/*----------------Main Section Projects--------------*/
.projects-header {
  font-size: var(--fz-h1);
  font-weight: 600;
}

.project {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: dotted 1px black;
}

.project:nth-child(2) {
  border-top: dotted 1px black;
}

.project-title {
  font-family: var(--font-primary);
  font-size: var(--fz-m);
}

.title {
  font-weight: 600;
  margin: 0;
}
.subtitle {
  font-weight: 400;
  color: var(--color-secondary);
  font-size: var(--fz-m);
  margin: 0;
}

.pj-info-container {
  display: flex;
}

.project-img {
  width: clamp(400px, 50vw, 800px);
  max-width: 800px;
  max-height: 540px;
  object-fit: contain;
  margin-top: 30px;
}

.sum-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 640px;
  padding: 0 40px;
  font-size: var(--fz-m);
}
.sum-container p {
  margin-top: 0;
}
.sum-container h2 {
  margin-bottom: 0;
}
.summary {
  font-size: var(--fz-l);
  font-weight: 600;
}

.technology {
  font-size: var(--fz-m);
  font-weight: 600;
}
.pjt-link {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.pjt-link a {
  color: var(--color-primary);
  padding-right: 40px;
  /* text-decoration: none; */
}
.pjt-link a:hover {
  color: var(--color-point);
}

/*----------------Main Section Contact--------------*/
.contact-container {
  display: flex;
  height: 800px;
  max-width: 1400px;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/bg.png);
  background-size: cover;
}
.contact-heading {
  font-weight: 600;
  font-size: var(--fz-xl);
  line-height: var(--fz-xl);
  margin: 0;
}
.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 60px;
  background-color: var(--color-bg);
  border-radius: 30px;
}
.contact-content p {
  font-weight: 600;
  text-align: center;
  width: 400px;
  margin: 50px;
}
.social i {
  color: var(--color-primary);
  font-size: var(--fz-m);
  padding: 6px;
  transition: color 0.3s ease-in;
}
.social i:hover {
  cursor: pointer;
  color: var(--color-point);
}
form {
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin-top: 50px;
}

form input,
.message {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid var(--color-primary);
  -webkit-transition: 0.5s;
  transition: 0.3s;
  outline: none;
}
form input:focus,
.message:focus {
  border: 1px solid var(--color-point);
}

.message {
  height: 100px;
  overflow: auto;
  resize: none;
}
.form-btn {
  width: 100px;
  height: 40px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--fz-s);
  line-height: var(--fz-s);
  color: var(--color-bg);
  background-color: var(--color-secondary);
  border-style: none;
  border-radius: 10px;
  float: right;
}
.form-btn:hover {
  background-color: var(--color-point);
}

/*---------------------Footer--------------------*/
footer {
  display: flex;
  height: 200px;
  /* max-width: 1440px; */
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-secondary);
  font-size: var(--fz-s);
}
.copyright {
  font-weight: 600;
}
.builtWith {
  text-align: center;
  font-size: var(--fz-xs);
}

@media (max-width: 1000px) {
  nav {
    height: 50px;
  }
  .logo {
    width: 80px;
  }
  .landing h1 {
    margin: 0;
  }
  .about-text {
    flex-direction: column;
    align-items: center;
  }
  .about {
    margin: 40px;
  }
  .about-text {
    padding: 0;
  }
  .skill i {
    font-size: 60px;
  }
  .pj-info-container {
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  main {
    padding: 0 20px;
  }
  .logo {
    width: 60px;
  }
  .navItem {
    display: none;
  }
  .navItem-icon {
    display: flex;
  }
  .about {
    margin: 20px;
  }
  .skills {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skill {
    padding: 8px;
  }
  .skill p {
    margin: 6px;
  }
  .skill i {
    font-size: 30px;
  }
  .carousel-btn {
    display: none;
  }
}
